body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background-image.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 100px 0;
}

.header-content {
    padding: 20px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

.weight-category {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 24px;
}

.weight-category p {
    font-size: 16px;
}
.special-diet {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
